<%= render :partial => 'layouts/head' %>
<div id="wrapper">
	<div id="page_container">
		<%= image_tag "kevin_bett_banner.jpg" %>
		<%= render :partial => 'layouts/nav' %>
		<div id="main_content">
    	<div id="main">
      	<%= yield %>
    	<!-- END #MAIN--></div> 
			
			<%= render :partial => 'layouts/footer' %>
		<!-- END #MAIN_CONTENT --></div>
  <!-- END #PAGE_CONTAINER --></div>
<!-- END #WRAPPER --></div>
</body>
</html>
